:root {
    /* --baseFontFamily: sans-serif, emoji;
    --monospaceFontFamily: monospace, emoji;
    --iconFontFamily: "remixicon";
    --txtPrimaryColor: #000;
    --txtHintColor: #666f75;
    --txtDisabledColor: #a0a6ac;
    --primaryColor: #000;
    --bodyColor: #f8f9fa;
    --baseColor: #ffffff;
    --baseAlt1Color: #e4e9ec;
    --baseAlt2Color: #d7dde4;
    --baseAlt3Color: #c6cdd7;
    --baseAlt4Color: #a5b0c0;
    --infoColor: #5499e8;
    --infoAltColor: #cee2f8;
    --successColor: #32ad84;
    --successAltColor: #c4eedc;
    --dangerColor: #e34562;
    --dangerAltColor: #f7cad2;
    --warningColor: #ff944d;
    --warningAltColor: #ffd4b8;
    --overlayColor: rgba(53, 71, 104, .28);
    --tooltipColor: rgba(0, 0, 0, .85);
    --shadowColor: rgba(0, 0, 0, .06);
    --baseFontSize: 14.5px;
    --xsFontSize: 12px;
    --smFontSize: 13px;
    --lgFontSize: 15px;
    --xlFontSize: 16px;
    --baseLineHeight: 22px;
    --smLineHeight: 16px;
    --lgLineHeight: 24px;
    --inputHeight: 34px;
    --btnHeight: 40px;
    --xsBtnHeight: 22px;
    --smBtnHeight: 30px;
    --lgBtnHeight: 54px;
    --baseSpacing: 30px;
    --xsSpacing: 15px;
    --smSpacing: 20px;
    --lgSpacing: 50px;
    --xlSpacing: 60px;
    --wrapperWidth: 850px;
    --smWrapperWidth: 420px;
    --lgWrapperWidth: 1200px;
    --appSidebarWidth: 75px;
    --pageSidebarWidth: 230px;
    --baseAnimationSpeed: .15s;
    --activeAnimationSpeed: 70ms;
    --entranceAnimationSpeed: .25s;
    --baseRadius: 0px;
    --lgRadius: 0px;
    --btnRadius: px;
    --accent-color: var(--primaryColor); */
}